{% extends 'adminbase.html.twig' %}
{% block body %}
    <div class="col-md-offset-2 col-md-8 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2><i class="fa fa-edit"></i> Izmena</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li class="pull-right"><i class="fa fa-info"></i></li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}
                <div class="form-group">
                    <a class="btn btn-info pull-left marginTop" href="{{ path('admin_oprema_index') }}">Povratak na listu</a>
                    {{ form_start(delete_form) }}
                    <input class="btn btn-danger pull-left marginTop" style="margin-left: 10px" type="submit" value="Obriši">
                    {{ form_end(delete_form) }}
                    <button class="btn btn-success pull-right marginTop" type="submit">Sačuvaj izmene</button>
                </div>
                {{ form_end(edit_form) }}
            </div>
        </div>
    </div>
{% endblock %}

