{% extends 'containers/halftable.html.twig' %}
{% block title %} Oprema <small><a class="btn btn-warning btn-xs" href="{{ path('admin_oprema_index') }}">veća tabela</a></small>{% endblock %}
{% block body %}
    <thead>
    <tr>
        <th style="width: 25%">Naziv</th>
        <th>Cena</th>
        <th>Zarada</th>
        <th>Dodato</th>
        <th><i class="fa fa-eye"></i></th>
        <th>Akcija</th>
    </tr>
    </thead>
    <tbody>
    {% for equiment in equiments %}
        <tr>
            <td>{{ equiment.mark }} {{ equiment.name }}</td>
            <td>{{ equiment.price }} RSD</td>
            <td><p class="label label-success" style="font-size: 12px;">{{ equiment.price - (equiment.priceOff / 100 * equiment.price ) - equiment.myPrice }} RSD</p></td>
            <td>{% if equiment.createdAt %}{{ equiment.createdAt|date('d.m.Y.') }}{% endif %}</td>
            <td>{{ equiment.views }}</td>
            <td>
                <a class="btn btn-info btn-xs" href="{{ path('admin_oprema_show', { 'id': equiment.id }) }}">Detaljnije</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
{% endblock %}