{% extends 'adminbase.html.twig' %}
{% block title %} | Pocetna {% endblock %}
{% block body %}
    <div class="row top_tiles">
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon"><i class="fa fa-mobile"></i></div>
                <div class="count">{{ brojOglasaTel|length }}</div>
                <h3>Oglasi telefona</h3>
                {#<p>Ukupna vrednost 165.000 RSD</p>#}
            </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon"><i class="fa fa-headphones"></i></div>
                <div class="count">{{ brojOglasaOp|length }}</div>
                <h3>Oglasi opreme</h3>
                {#<p>Ukupna vrednost 35.000 RSD</p>#}
            </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon"><i class="fa fa-bar-chart"></i></div>
                <div class="count">{{ brojPorudzbina|length }}</div>
                <h3>Porudžbine</h3>
                {#<p>Ukupna vrednost 12.000 RSD</p>#}
            </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon"><i class="fa fa-money"></i></div>
                <div class="count">{{ brojOtkupa|length }}</div>
                <h3>Otkup uredjaja</h3>
                {#<p>Ukupna vrednost 56.000 RSD</p>#}
            </div>
        </div>
    </div>
    <div class="row top_tiles">
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon"><i class="fa fa-retweet"></i></div>
                <div class="count">{{ brojZamena|length }}</div>
                <h3>Zamena</h3>
                <p>Uspešno obavljene zamene</p>
            </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon"><i class="fa fa-reorder"></i></div>
                <div class="count">{{ brojKatTel|length }} | {{ brojKatOp|length }}</div>
                <h3>Kategorije</h3>
                <p>Kategorije telefona i opreme</p>
            </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon"><i class="fa fa-star"></i></div>
                <div class="count">{{ brojBrendova|length }} | {{ brojTagova|length }}</div>
                <h3>Brendovi i tagovi</h3>
                <p>Brendovi telefona i opreme</p>
            </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon"><i class="fa fa-newspaper-o"></i></div>
                <div class="count">{{ brojBlogova|length }}</div>
                <h3>Blog</h3>
                <p>Zanimljivosti, uputstva i ostalo</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Pregled nedelje <small>prodaja</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li class="pull-right"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row" style="border-bottom: 1px solid #E0E0E0; padding-bottom: 5px; margin-bottom: 5px;">
                        <div class="col-md-7" style="overflow:hidden;">
                            <span class="sparkline_one" style="height: 160px; padding: 10px 25px;">
                                  <canvas width="200" height="60" style="display: inline-block; vertical-align: top; width: 94px; height: 30px;"></canvas>
                            </span>
                            <h4 style="margin:18px">Progres prodaje</h4>
                        </div>

                        <div class="col-md-5">
                            <div class="row" style="text-align: center;">
                                <div class="col-md-4">
                                    <canvas class="canvasDoughnut" height="110" width="110" style="margin: 5px 10px 10px 0"></canvas>
                                    <h4 style="margin:0">Brendovi</h4>
                                </div>
                                <div class="col-md-4">
                                    <canvas class="canvasDoughnut" height="110" width="110" style="margin: 5px 10px 10px 0"></canvas>
                                    <h4 style="margin:0">Otkup</h4>
                                </div>
                                <div class="col-md-4">
                                    <canvas class="canvasDoughnut" height="110" width="110" style="margin: 5px 10px 10px 0"></canvas>
                                    <h4 style="margin:0">Zamena</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="x_panel">
                <div class="x_title">
                    <ul class="nav navbar-right panel_toolbox">
                        <li class="pull-right"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    </ul>
                    <h3>Potsetnik <small></small></h3>
                    <div class="clearfix"></div>
                    <br/>
                    <input type="text" class="form-control reminder-txt" placeholder="Potsetnik" name="reminder" />
                    <button class="btn btn-success pull-right add-reminder"><i class="fa fa-plus"></i> Dodaj</button>
                </div>
                <div class="x_content reminder-list">
                    {% for r in reminder|sort|reverse %}
                        <article class="media event">
                            <a class="pull-left date">
                                <p class="month">{{ r.createdAt|date('M')}}</p>
                                <p class="day">{{ r.createdAt|date('d')}}</p>
                            </a>
                            <div class="media-body">
                                <span class="rembtn remove-reminder" data-id="{{ r.id }}">x</span>
                                <p>{{ r.name }}</p>
                            </div>
                        </article>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="x_panel">
                <div class="x_title">
                    <ul class="nav navbar-right panel_toolbox">
                        <li class="pull-right"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    </ul>
                    <h3>Popusti</h3>
                    <br/>
                    <div class="clearfix"></div>
                    <center>
                        <input type="radio" name="type" class="discount-type" value="0" checked /> Popust u % &nbsp; &nbsp;&nbsp; &nbsp;
                        <input type="radio" name="type" class="discount-type" value="1" /> Popust u RSD
                    </center>
                    <br/><br/>
                    <input type="number" name="value" placeholder="Iznos" class="form-control discount-value">
                    <input type="text" name="name" placeholder="Naziv popusta" class="form-control discount-name">
                    <input type="text" name="password" placeholder="Kod popusta" class="form-control discount-code">
                    <button class="btn btn-success pull-right add-discount"><i class="fa fa-plus"></i> Dodaj</button>
                </div>
                <div class="x_content discount-list">
                    {% for d in discount|sort|reverse %}
                        <article class="media event">
                            <a class="pull-left date">
                                <p class="month">{{ d.createdAt|date('M')}}</p>
                                <p class="day">{{ d.createdAt|date('d')}}</p>
                            </a>
                            <div class="media-body">
                                <span class="rembtn remove-discount" data-id="{{ d.id }}">x</span>
                                <a class="title" href="javascript:void(0)">{{ d.discountPass }}</a>
                                <p>
                                    {{ d.name }}
                                    <span class="label label-warning">
                                        {{ d.quantity }}
                                        {% if d.type == 0 %}
                                            %
                                        {% else %}
                                            RSD
                                        {% endif %}
                                    </span>
                                </p>
                            </div>
                        </article>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="x_panel">
                <div class="x_title">
                    <ul class="nav navbar-right panel_toolbox">
                        <li class="pull-right"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    </ul>
                    <h3>Mejling lista <small></small></h3>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    {% for e in emailList|reverse %}
                        <article class="media event">
                            <p>{{ e.email }} <span class="label label-info">{{ e.createdAt|date('d-m-Y h:m') }}</span></p>
                        </article>
                    {% endfor %}
                    <hr/>
                    <a class="pull-right" href="{{ path('emailList') }}">Pogledaj sve</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="x_panel">
                <div class="x_title">
                    <ul class="nav navbar-right panel_toolbox">
                        <li class="pull-right"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    </ul>
                    <h3>Pretrage <small></small></h3>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    {% for s in searchList|reverse %}
                        <article class="media event">
                            <p>{{ s.search }} <span class="label label-info">{{ s.createdAt|date('d-m-Y h:m') }}</span></p>
                        </article>
                    {% endfor %}
                    <hr/>
                    <a class="pull-right" href="{{ path('searchList') }}">Pogledaj sve</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}