{% extends 'base.html.twig' %}
{% block head %}
    <meta charset="UTF-8">
    <meta name="description" content="JokerMobil.com, Prodaja, otkup i zamena mobilnih telefona. Najbolje cene, isplata odmah. Zamenite Va stari telefon za novi.">
    <meta name="keywords" content="Prodaja telefona, Otkup telefona, Zamena telefona, Mobilni telefoni, Oprema za mobilne telefone, Staro za novo">
    <meta name="author" content="Milos Aperlic">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}
{% block title %} | Rezultati pretrage {% endblock %}
{% block body %}
    <!-- Content -->
    <div class="row content">

        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="breadcrumbs">
                <p><a href="/">Početna</a> <i class="icons icon-right-dir"></i> Rezultati pretrage</p>
            </div>
        </div>

        <!-- Main Content -->
        <section class="main-content col-lg-9 col-md-9 col-sm-9 col-lg-push-3 col-md-push-3 col-sm-push-3">


            <div class="row">

                <div class="col-lg-12 col-md-12 col-sm-12">

                    <div class="carousel-heading no-margin">
                        <h4>Rezultati pretrage <small style="color: orange;">za {{ search }} u kategoriji {{ search_cat }}</small></h4>
                        <span class="pull-right" style="padding: 13px; font-size: 12px;">Ukupno: {{ result|length }}</span>
                    </div>
                    <div class="page-content">
                        {% if result|length == 0 %}
                            <h3 class="alert alert-warning">Nema rezultata za ovu pretragu!</h3>
                        {% else %}
                            {% for t in result %}
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <div class="product">
                                        <div class="product-image">
                                            {% set images = t.images|split('|') %}
                                            {% if o == 'p' %}
                                                <img src="{{ asset('bundles/app/upload/phones/') }}{{ images[0] }}" alt="{{ t.mark }} {{ t.model }}">
                                            {% else %}
                                                <img src="{{ asset('bundles/app/upload/equiment/') }}{{ images[0] }}" alt="{{ t.mark }} {{ t.name }}">
                                            {% endif %}
                                            {% if o == 'p' %}
                                                <a href="/telefon/{{ t.mark }}/{{ t.model }}/{{ t.id }}" class="product-hover">
                                                    <i class="icons icon-eye-1"></i> Pregled
                                                </a>
                                            {% else %}
                                                <a href="/oprema/{{ t.mark }}/{{ t.name }}/{{ t.id }}" class="product-hover">
                                                    <i class="icons icon-eye-1"></i> Pregled
                                                </a>
                                            {% endif %}
                                        </div>
                                        <div class="product-info">
                                            {% if o == 'p' %}
                                                <h5><a href="/telefon/{{ t.mark }}/{{ t.model }}/{{ t.id }}">{{ t.mark }} {{ t.model }}</a></h5>
                                            {% else %}
                                                <h5><a href="/oprema/{{ t.mark }}/{{ t.name }}/{{ t.id }}">{{ t.mark }} {{ t.name }}</a></h5>
                                            {% endif %}
                                            <span class="price">
                                        {% if t.priceOff > 0 %}
                                            <del>{{ t.price }} RSD</del>
                                            {{ t.price - (t.priceOff / 100 * t.price) }} RSD
                                        {% else %}
                                            {{ t.price }} RSD
                                        {% endif %}
                                    </span>
                                        </div>

                                        <div class="product-actions">
                                    <span class="add-to-cart">
                                        <span class="action-wrapper">
                                            <i class="icons icon-basket-2"></i>
                                            {% if o == 'p' %}
                                                <a href="/telefon/{{ t.mark }}/{{ t.model }}/{{ t.id }}" style="color: #fff;"><span class="action-name">Dodaj u korpu</span></a>
                                            {% else %}
                                                <a href="/oprema/{{ t.mark }}/{{ t.name }}/{{ t.id }}" style="color: #fff;"><span class="action-name">Dodaj u korpu</span></a>
                                            {% endif %}
                                        </span >
                                    </span>
                                    <span class="add-to-favorites">
                                        <span class="action-wrapper">
                                            <i class="icons icon-heart-empty"></i>
                                             <span class="action-name action-wishlist"
                                                   data-type = "0"
                                                   data-id = "{{ t.id }}"
                                                    {% if o == 'p' %}
                                                        data-link="/telefon/{{ t.mark }}/{{ t.model }}/{{ t.id }}"
                                                    {% else %}
                                                        data-link="/oprema/{{ t.mark }}/{{ t.name }}/{{ t.id }}"
                                                    {% endif %}
                                             >Dodaj u želje
                                             </span>
                                        </span>
                                        </span>
                                            {% if o == 'p' %}
                                                <span class="add-to-compare">
                                                    <span class="action-wrapper">
                                                        <i class="icons icon-docs"></i>
                                                        <a style="color: #fff;" href="/zamena/{{ t.id }}"><span class="action-name">Zamena</span></a>
                                                    </span>
                                                </span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <!-- Product Item -->
                            {% endfor %}
                        {% endif %}
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /Main Content -->
        {{ render(controller(
        'AppBundle:Parts:sidebar'
        )) }}
    </div>
    <!-- /Content -->
    {{ render(controller(
    'AppBundle:Parts:banners'
    )) }}
{% endblock %}