{% extends 'base.html.twig' %}
{% block title %} | Kontakt {% endblock %}
{% block body %}
    <div class="row content">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="breadcrumbs">
                <p><a href="{{ path('homepage') }}">Početna</a> <i class="icons icon-right-dir"></i> Kontakt</p>
            </div>
        </div>
        <!-- Main Content -->
        <section class="main-content col-lg-12 col-md-12 col-sm-12">
            <div class="row">
                <div class="col-lg-7 col-md-7 col-sm-7">
                    <div class="carousel-heading no-margin">
                        <h4>KONTAKT INFORMACIJE</h4>
                    </div>
                    <div class="page-content contact-info">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2273.343715855918!2d19.846449954405507!3d45.25727753290019!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475b1066288059b3%3A0x8f395d002ec8c516!2sZmaj+Jovina+26%2C+Novi+Sad!5e0!3m2!1sen!2srs!4v1511370355638" width="425" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
                        <div class="row">

                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="contact-item green">
                                    <i class="icons icon-location-3"></i>
                                    <p>Zmaj Jovina 26,<br>
                                        Novi Sad, Srbija</p>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="contact-item blue">
                                    <i class="icons icon-mail"></i>
                                    <p><a href="#">office@jokermobil.com</a><br>
                                        <a href="#">sales@jokermobil.com</a>
                                    </p>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="contact-item orange">
                                    <i class="icons icon-phone"></i>
                                    <p>+381 64 40-40-950<br>
                                        +381 64 40-40-970
                                    </p>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="contact-item purple">
                                    <i class="icons icon-clock"></i>
                                    <p>Ponedeljak - Petak: 08.00-20.00<br>
                                        Subota: 09.00-17.00<br>
                                        Nedelja: ne radimo</p>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

                <div class="col-lg-5 col-md-5 col-sm-5">

                    <div class="carousel-heading no-margin">
                        <h4>POŠALJITE NAM PORUKU</h4>
                    </div>
                    {% if contact_success != null %}
                        <p style="text-align: center;" class="alert alert-success"><i class="fa fa-check"></i> {{ contact_success }}</p>
                    {% else %}
                        <div class="page-content contact-form">
                            {{ form_start(form) }}
                            {{ form_widget(form) }}
                            <input class="btn btn-success pull-right" type="submit" value="Pošalji" />
                            {{ form_end(form) }}
                            <div class="clearfix"></div>
                        </div>
                    {% endif %}
                </div>
            </div>

        </section>
        <!-- /Main Content -->
    </div>
    <!-- /Content -->

{% endblock %}

